/*******************************************************************************
 *                                                                             *
 * Dialog Pane Styling                                                         *
 *                                                                             *
 ******************************************************************************/

.dialog-pane {
    -fx-background-color: derive(-fx-background, -20%);
    -fx-border-color: derive(-fx-background, -40%);
    -fx-border-width: 1;
}

.dialog-pane .windowButton {
    -fx-background-color: derive(-fx-background, -20%);
}

.dialog-pane .windowButton:hover {
    -fx-background-color: -fx-error;
}

.dialog-pane .content {
    -fx-background-color: derive(-fx-background, -20%);
    -fx-padding: 20 10 20 10;
}

.dialog-pane .header-panel .label {
    -fx-text-fill: -fx-text;
    -fx-padding: 0;
}

.dialog-pane .header-panel {
    -fx-padding: 0;
}

.dialog-pane .button-bar .button {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-text;
}

.dialog-pane .button-bar .button:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-primary-lighter !important;
}

.dialog-pane .button-bar .button:focused {
    -fx-cursor: hand;
    -fx-background-color: -fx-primary;
}

.dialog-pane .button-bar .cancel-button {
    -fx-background-color: derive(-fx-background, 30%);
    -fx-text-fill: -fx-text;
}

.dialog-pane .button-bar .cancel-button:focused {
    -fx-background-color: derive(-fx-background, -40%) !important;
}

.dialog-pane .button-bar .cancel-button:hover {
    -fx-background-color: derive(-fx-background, 10%) !important;
}

/* style different dialogs differently */

/* information */
.dialog-pane .information {
    -fx-background-color: -fx-primary;
}

/* warning */
.dialog-pane .warning {
    -fx-background-color: -fx-error;
}