* {
    -fx-error: #c82d49;
    -fx-success: #689e5d;
    -fx-text: ladder(-fx-primary, white 0%, white 65%, black 66%, black 100%);
    -fx-alternatetext: white;
    -fx-background: #484848;
    -fx-light: #AAAAAA;
    -fx-select: derive(-fx-background, -50%);
    -fx-primary-darker: derive(-fx-primary, -30%);
    -fx-primary-lighter: derive(-fx-primary, 30%);
}