/*******************************************************************************
 *                                                                             *
 * Main .css file for the dark theme                                           *
 *                                                                             *
 ******************************************************************************/

/* Define custom color variables which are used throughout the whole application */
* {
    -fx-primary: #4C9687;
    -fx-error: #853149;
    -fx-success: #55854B;
    -fx-text: white;
    -fx-alternatetext: #303030;
    -fx-background: #484848;
    -fx-light: #AAAAAA;
    -fx-select: derive(-fx-background, -50%);
    -fx-primary-darker: derive(-fx-primary, -30%);
    -fx-primary-lighter: derive(-fx-primary, 30%);
}

/*
 *	Apply google Roboto font to all UI components
 */

.root {
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;
    -fx-background-color: -fx-background;
    -fx-border-color: derive(-fx-background, -30%);
}

/*******************************************************************************
 *                                                                             *
 * Material Button                                                             *
 *                                                                             *
 ******************************************************************************/

.jfx-button {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-text;
    -fx-cursor: hand;
    -jfx-disable-visual-focus: false;
    -jfx-button-type: RAISED;
}

.jfx-button:hover, .jfx-button:focused  {
    -fx-background-color: -fx-primary-lighter;
}

/* Close App Button extra styling */
.windowButton {
    -fx-background-color: -fx-background;
    -fx-text-fill: white;
    -jfx-disable-visual-focus: true;
    -jfx-button-type: FLAT;
}

.warning-button {
    -fx-background-color: -fx-error;
}

.round-button {
    -fx-background-radius: 100%;
}

.round-button .glyph-icon {
    -fx-font-size: 15;
}

.warning-button:hover, .warning-button:focused {
    -fx-background-color: derive(-fx-error, 30%);
}

.closeWindowButton:hover, .closeWindowButton:focused {
    -fx-background-color: -fx-error;
}


/*******************************************************************************
 *                                                                             *
 * Material TextField / PasswordField / TextArea                               *
 *                                                                             *
 ******************************************************************************/

.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -jfx-focus-color: -fx-primary !important;
    -jfx-unfocus-color: -fx-light !important;
    -fx-prompt-text-fill: -fx-light !important;
    -fx-text-fill: -fx-text !important;
    -jfx-label-float: true;
}


/*******************************************************************************
*                                                                              *
* Material TabPane                                                             *
*                                                                              *
*******************************************************************************/

.jfx-tab-pane {
    -fx-background-color: -fx-background;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: -fx-primary;
    -fx-cursor: hand;
}

/* have to set the disabled opacity manually */
.jfx-tab-pane:disabled > * {
    -fx-opacity: 0.6;
}

.jfx-tab-pane .headers-region .tab {
    -fx-pref-width: 150;
}

.jfx-tab-pane .headers-region .tab:hover {
    -fx-background-color: -fx-primary-lighter;
}

.jfx-tab-pane .headers-region .tab:selected:top {
    -fx-background-color: -fx-primary-darker;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -fx-primary;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -fx-text;
}

.jfx-tab-pane .tab-content-area {
    -fx-padding: 15 5 5 5;
}


/*******************************************************************************
 *                                                                             *
 * Material CheckBox                                                           *
 *                                                                             *
 ******************************************************************************/

.jfx-check-box {
    -jfx-checked-color: -fx-primary;
    -jfx-unchecked-color: -fx-light;
    -fx-cursor: hand;
}


/*******************************************************************************
*                                                                             *
* Material ComboBox                                                           *
*                                                                             *
******************************************************************************/

.jfx-combo-box {
    -jfx-focus-color: -fx-primary;
    -jfx-unfocus-color: -fx-light;
    -fx-cursor: hand;
    -fx-text-fill: -fx-text !important;
}

.jfx-combo-box .cell, .jfx-combo-box .text-field {
    -fx-text-fill: -fx-text !important;
}

.combo-box-popup .list-view {
    -fx-background-color: -fx-background !important;
    -fx-border-color: -fx-light !important;
}

.combo-box-popup .list-view .list-cell:filled {
    -fx-background-color: -fx-background !important;
}

.combo-box-popup .list-view .list-cell:filled:focused {
    -fx-background-color: -fx-primary !important;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -fx-primary !important;
}


/*******************************************************************************
*                                                                             *
* Material RadioButton                                                        *
*                                                                             *
******************************************************************************/

.jfx-radio-button {
    -jfx-checked-color: -fx-primary;
    -jfx-unchecked-color: -fx-light;
    -fx-cursor: hand;
}


/*******************************************************************************
*                                                                             *
* Material TreeTableView                                                      *
*                                                                             *
******************************************************************************/

.jfx-tree-table-view {
    -fx-background-color: -fx-background;
}

.tree-table-view .jfx-rippler {
    -jfx-rippler-fill: -fx-text;
}

.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-primary;
    -fx-table-cell-border-color: -fx-tree-table-color;
    -fx-text-fill: -fx-text;
}

.jfx-tree-table-view .column-header {
    -fx-background-color: -fx-primary-darker;
    -fx-border-color: -fx-text;
    -fx-border-width: 0 1 0 0;
}

/* hack for making every separator in the header the same width */
.tree-table-view .column-header:last-visible {
    -fx-border-color: -fx-text;
    -fx-border-width: 0 0 0 0;
}

/*
alternative design with separators left and right of complete header bar

.jfx-tree-table-view .column-header {
    -fx-background-color: -fx-primary-darker;
    -fx-border-color: -fx-text;
    -fx-border-width: 0 0 0 1;
}

.tree-table-view .column-header:last-visible {
    -fx-border-color: -fx-text;
    -fx-border-width: 0 1 0 1;
}
*/

.jfx-tree-table-view .column-header .label {
    -fx-text-fill: -fx-text;
    -fx-padding: 10 0 10 0;
}

.tree-table-view .column-overlay {
    -fx-background-color: -fx-background;
}

.jfx-tree-table-view .table-row-cell {
    -fx-border-color: -fx-text;
    -fx-table-cell-border-color: -fx-text;
}

.jfx-tree-table-view .column-header-background {
    -fx-border-width: 0 0 0 0;
}


/*******************************************************************************
*                                                                             *
* Material TableView                                                          *
*                                                                             *
******************************************************************************/

/*
* The following CSS has been adapted from jfx-tree-table-view.css
*/

.table-view {
    -fx-background-color: -fx-background;
    -fx-table-rippler-color: -fx-text;
    -fx-shadow: derive(-fx-background, -30%);
    -fx-effect: dropshadow(three-pass-box, -fx-shadow, 5, 0, 3, 3);
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: derive(-fx-background, 30%);
}

.table-view .column-header {
    -fx-border-color: derive(-fx-background, 30%);
    -fx-background-color: derive(-fx-background, 30%);
}

.table-view .column-header .label {
    -fx-text-fill: -fx-text;
    -fx-padding: 16 0 16 0;
    -fx-alignment: baseline-center;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: -fx-text;
    -fx-padding: 4;
}

.table-view .column-header-background {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-text;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 16 20 8 20;
    -fx-alignment: baseline-center;
}

.table-view .align-left {
    -fx-padding: 16 20 8 20;
    -fx-alignment: baseline-left;
}

.table-view .column-overlay {
    -fx-background-color: -fx-primary;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}

.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-view .table-row-cell {
    -fx-border-color: TRANSPARENT;
    -fx-table-cell-border-color: TRANSPARENT;
}

.table-view .jfx-button {
    -fx-background-radius: 100%;
}

/* odd rows */
.table-view .table-row-cell:odd:filled {
    -fx-background-color: derive(-fx-background, 10%);
}

.table-view .table-row-cell:selected {
    -fx-background-color: -fx-select !important;
    -fx-table-cell-border-color: -fx-primary;
    -fx-text-fill: -fx-text;
}

/* remove blue border from first entry of tableView on focus */
.table-view:focused .table-row-cell:focused {
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-text-fill: -fx-text;
}

/* style vertical scrollbar on tableview */

.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: -fx-background;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: derive(-fx-background, -80%);
}

/* styling the vertical scrollbar */
.scroll-bar:vertical {
    -fx-pref-width: 15;
    -fx-padding: 0;
    -fx-background-color: -fx-background;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(-fx-background, -40%);
}

/* hide horizontal scrollbar on tableview */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}


/*******************************************************************************
 *                                                                             *
 * Material ProgressBar                                                        *
 *                                                                             *
 ******************************************************************************/

.jfx-progress-bar > .bar {
    -fx-background-color: -fx-primary;
}

/*******************************************************************************
 *                                                                             *
 * Material Icons                                                              *
 *                                                                             *
 ******************************************************************************/

.glyph-icon {
    -fx-font-family: "Material Design Icons";
    -fx-fill: -fx-text;
}


/*******************************************************************************
 *                                                                             *
 * Custom window                                                               *
 *                                                                             *
 ******************************************************************************/

.windowLabel {
    -fx-font-weight: bold;
}

/* error */
.error-text {
    -fx-text-fill: -fx-error;
}

