@import 'dark.css';

/*
 *	Apply google Roboto font to all UI components
 */

.main-root {
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;
    -fx-background-color: -fx-background;
    -fx-border-color: derive(-fx-background, -30%);

    -jfx-rippler-fill: -fx-alternatetext;
}

/*******************************************************************************
 *                                                                             *
 * Material Icons                                                              *
 *                                                                             *
 ******************************************************************************/

.glyph-icon {
    -fx-font-family: "Material Design Icons";
    -fx-fill: -fx-alternatetext;
}

/*******************************************************************************
 *                                                                             *
 * Material Button                                                             *
 *                                                                             *
 ******************************************************************************/

.jfx-button {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-text;
    -fx-cursor: hand;
    -jfx-disable-visual-focus: false;
    -jfx-button-type: RAISED;
    -fx-pref-width: 140;
}

.jfx-button .glyph-icon {
    -fx-fill: -fx-text;
}

.jfx-button:hover, .jfx-button:focused  {
    -fx-background-color: -fx-primary-lighter;
}

/* Close App Button extra styling */
.window-button {
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-alternatetext;
    -jfx-disable-visual-focus: true;
    -jfx-button-type: FLAT;
    -fx-pref-width: 30;
}

.window-button .glyph-icon {
    -fx-fill: -fx-alternatetext;
}

.warning-button {
    -fx-background-color: -fx-error;
}

.round-button {
    -fx-background-radius: 100%;
    -fx-pref-width: 30;
}

.round-button .glyph-icon {
    -fx-font-size: 15;
}

.warning-button:hover, .warning-button:focused {
    -fx-background-color: derive(-fx-error, 30%);
}

.close-window-button:hover, .close-window-button:focused {
    -fx-background-color: -fx-error;
}

.action-button-table-cell .jfx-button {
    -fx-pref-width: 30;
}

.first-login-button {
    -fx-pref-width: 255;
}


/*******************************************************************************
 *                                                                             *
 * Material TextField / PasswordField / TextArea                               *
 *                                                                             *
 ******************************************************************************/

.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -jfx-focus-color: -fx-primary !important;
    -jfx-unfocus-color: -fx-light !important;
    -fx-prompt-text-fill: -fx-light !important;
    -fx-text-fill: -fx-alternatetext !important;
    -jfx-label-float: true;
}

/*******************************************************************************
*                                                                              *
* Material TabPane                                                             *
*                                                                              *
*******************************************************************************/

.jfx-tab-pane {
    -fx-background-color: -fx-background;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: -fx-primary;
    -fx-cursor: hand;
}

/* have to set the disabled opacity manually */
.jfx-tab-pane:disabled > * {
    -fx-opacity: 0.6;
}

.jfx-tab-pane .headers-region .tab {
    -fx-pref-width: 165;
}

.jfx-tab-pane .headers-region .tab:hover {
    -fx-background-color: -fx-primary-lighter;
}

.jfx-tab-pane .headers-region .tab:selected:top {
    -fx-background-color: -fx-primary-darker;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -fx-primary;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -fx-alternatetext;
}

.jfx-tab-pane .headers-region .label {
    -fx-text-fill: -fx-text !important;
}

.jfx-tab-pane .tab-content-area {
    -fx-padding: 15 5 5 5;
}

.tab .tab-label {
    -fx-text-fill: -fx-text;
}

/*******************************************************************************
 *                                                                             *
 * Material CheckBox                                                           *
 *                                                                             *
 ******************************************************************************/

.jfx-check-box {
    -jfx-checked-color: -fx-primary;
    -jfx-unchecked-color: -fx-light;
    -fx-cursor: hand;
}


/*******************************************************************************
*                                                                             *
* Material ComboBox                                                           *
*                                                                             *
******************************************************************************/

.jfx-combo-box {
    -jfx-focus-color: -fx-primary;
    -jfx-unfocus-color: -fx-light;
    -fx-cursor: hand;
    -fx-text-fill: -fx-alternatetext !important;
}

.jfx-combo-box .cell, .jfx-combo-box .text-field {
    -fx-text-fill: -fx-alternatetext !important;
}

.combo-box-popup .list-view {
    -fx-background-color: -fx-background !important;
    -fx-border-color: -fx-light !important;
}

.combo-box-popup .list-view .list-cell:filled {
    -fx-background-color: -fx-background !important;
}

.combo-box-popup .list-view .list-cell:filled:focused {
    -fx-background-color: -fx-primary !important;
    -fx-text-fill: -fx-text !important;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -fx-primary !important;
    -fx-text-fill: -fx-text !important;
}


/*******************************************************************************
*                                                                             *
* Material RadioButton                                                        *
*                                                                             *
******************************************************************************/

.jfx-radio-button {
    -jfx-checked-color: -fx-primary;
    -jfx-unchecked-color: -fx-light;
    -fx-cursor: hand;
}


/*******************************************************************************
*                                                                             *
* Material TableView                                                          *
*                                                                             *
******************************************************************************/

/*
* The following CSS has been adapted from jfx-tree-table-view.css
*/

.table-view {
    -fx-background-color: -fx-background;
    -fx-table-rippler-color: -fx-text;
    -fx-shadow: derive(-fx-background, -30%);
    -fx-effect: dropshadow(three-pass-box, -fx-shadow, 5, 0, 3, 3);
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: derive(-fx-background, 30%);
}

.table-view .column-header {
    -fx-border-color: derive(-fx-background, 30%);
    -fx-background-color: derive(-fx-background, 30%);
}

.table-view .column-header .label {
    -fx-text-fill: -fx-alternatetext;
    -fx-padding: 16 0 16 0;
    -fx-alignment: baseline-center;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: -fx-alternatetext;
    -fx-padding: 4;
}

.table-view .column-header-background {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-alternatetext;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 16 20 8 20;
    -fx-alignment: baseline-center;
}

.table-view .align-left {
    -fx-padding: 16 20 8 20;
    -fx-alignment: baseline-left;
}

.table-view .column-overlay {
    -fx-background-color: -fx-primary;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}

.table-view .table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-view .table-row-cell {
    -fx-border-color: TRANSPARENT;
    -fx-table-cell-border-color: TRANSPARENT;
}

.table-view .jfx-button {
    -fx-background-radius: 100%;
}

/* odd rows */
.table-view .table-row-cell:odd:filled {
    -fx-background-color: derive(-fx-background, 10%);
}

.table-view .table-row-cell:selected {
    -fx-background-color: -fx-select !important;
    -fx-table-cell-border-color: -fx-primary;
    -fx-text-fill: -fx-alternatetext;
}

/* remove blue border from first entry of tableView on focus */
.table-view:focused .table-row-cell:focused {
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-text-fill: -fx-alternatetext;
}

/* style vertical scrollbar on tableview */

.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: -fx-background;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: derive(-fx-background, -80%);
}

/* styling the vertical scrollbar */
.scroll-bar:vertical {
    -fx-pref-width: 15;
    -fx-padding: 0;
    -fx-background-color: -fx-background;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(-fx-background, -40%);
}

/* hide horizontal scrollbar on tableview */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}


/*******************************************************************************
 *                                                                             *
 * Material DatePicker                                                         *
 *                                                                             *
 ******************************************************************************/

.jfx-date-picker {
    -jfx-default-color: -fx-primary;
}

.jfx-date-picker .date-cell:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-primary-lighter;
}

/*
.jfx-date-picker .date-picker-popup {
    -fx-background-color: -fx-background;
}
*/


/*******************************************************************************
 *                                                                             *
 * Material ToggleButton                                                       *
 *                                                                             *
 ******************************************************************************/

.jfx-toggle-button {
    -jfx-toggle-color: -fx-primary;
    -jfx-untoggle-color: -fx-light;
    -fx-text-fill: -fx-alternatetext;
}

/*******************************************************************************
 *                                                                             *
 * Custom window                                                               *
 *                                                                             *
 ******************************************************************************/

.window-label {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-alternatetext;
}


/*******************************************************************************
 *                                                                             *
 * Login Views extra styling                                                   *
 *                                                                             *
 ******************************************************************************/

.first-use-wizard .label {
    -fx-font-size: 110%;
    -fx-line-spacing: 2;
}

.login-window .label {
    -fx-font-size: 110%;
    -fx-line-spacing: 2;
}


/*******************************************************************************
 *                                                                             *
 * StatusBar Styling                                                           *
 *                                                                             *
 ******************************************************************************/

.status-bar {
    -fx-padding: 10;
    -fx-background-color: derive(-fx-background, -30%);
    -fx-font-size: 110%;
}

.status-bar .database-icon {
    -fx-fill: -fx-success;
}


/*******************************************************************************
 *                                                                             *
 * Tooltip Styling                                                             *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-font-size: 1.1em;
}

.warning-text {
    -fx-text-fill: red;
}

/*******************************************************************************
 *                                                                             *
 * Charts                                                                      *
 *                                                                             *
 ******************************************************************************/

.chart {
    -fx-font-size: 15px !important;
}

.chart-legend .label {
    -fx-padding: 0 5 0 5;
}

.chart-plot-background {
    -fx-background-color: -fx-background;
}

.chart-horizontal-grid-lines {
    -fx-stroke: derive(-fx-background, 20%);
}

.chart-vertical-grid-lines {
    -fx-stroke: derive(-fx-background, 20%);
}

.default-color0.chart-series-line { -fx-stroke: -fx-primary; }

.default-color0.chart-line-symbol { -fx-background-color: derive(-fx-primary, -10%), white; }

.default-color0.chart-bar { -fx-bar-fill: -fx-primary; }

.current-node {
    -fx-background-color: -fx-primary, derive(-fx-primary, -40%) !important;
}

.node-warning {
    -fx-background-color: -fx-primary, -fx-error !important;
}

.bar-value {
    -fx-text-fill: -fx-text;
    -fx-font-size: 0.9em;
}

.warning-bar.chart-bar {
    -fx-bar-fill: -fx-error;
}